@media (max-width: 600px) {
    .center-main {
        top: 5%;
    }
    .mainbox {
        margin-bottom: 5%;
    }
}
@media (min-width: 600px) {
    .center-main {
        top: 15%;
    }
    .mainbox {
        margin-bottom: 15%;
    }
}

.center-main {
    min-width: 400px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.mainbox {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5em;
    overflow: hidden;
}

.jumbotron-top {
    padding: 1rem 5rem;
    margin-bottom: 2rem;
    background-color: #a4c0dd;
    width: 110%;
}

.jumbotron-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 5rem;
    margin-top: 2rem;
    background-color: #ebf0f5;
    width: 110%;
}

.float-login {
    display: flex;
    align-items: center;
    flex-direction: column;
}
