body {
    background: linear-gradient(to bottom, #1a84bd, #A2DBFA, #E8F0F2) no-repeat center center fixed;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}