.text-color-toggler {
    color: rgb(55, 59, 100);
    transition: 0.2s ease-in-out;
    font-weight: 600;
    margin-right: 2rem;
}
.text-color-toggler-static {
    color: rgb(55, 59, 100);
    transition: 0.2s ease-in-out;
    font-weight: 600;
}
.text-color-toggler:hover {
    color: #f3f3f3;
    transform: scale(1.2);
}
.text-color-toggler-selected {
    color: #f3f3f3;
    transform: scale(1.2);
    margin-right: 2rem;
}
p {
    color: rgb(55, 59, 100);
    margin-top: 0;
    margin-bottom: 0;
}
.icon-hover {
    color: rgb(174, 176, 199);
    transition: color 5s ease-in-out;
}
.icon-hover:hover {
    color: rgb(206, 206, 206);
}

@media (max-width: 992px) {
    .text-color-toggler {
        margin-right: 0rem;
    }
    .text-color-toggler-selected {
        margin-right: 0rem;
    }
  }

.center-vertically {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-horizontally {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-secondary {
    color: #fff;
    background-color: #0607089f;
    border-color: #0607089f;
  }
  .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {
    color: #fff;
    background-color: #6069729f;
    border-color: #6069729f;
  }